@use "@styles/mixins" as *;
@use "@styles/variables" as *;

.cell {
  @include cell;
  outline: none;
  width: 32px;
  text-align: center;

  &:focus {
    border-color: $active-color;
  }

  appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
